<div class="profile-page main-content">
    <div class="card-container">
        <div class="card-component">
            <legend class="k-form-legend">
                <div class="legend">
                    <a class="back" [routerLink]="'/buildings'">
                        <kendo-svgicon [icon]="arrowLeftIcon" size="xlarge"></kendo-svgicon>
                    </a>
                    <h1>Информация о здании/корпусе</h1>
                </div>
            </legend>
            <form class="k-form k-form-horizontal" style="max-width: 700px" [formGroup]="formGroup">
                <fieldset class="k-form-fieldset">
                   

                    <kendo-formfield orientation="horizontal">
                        <kendo-label class="k-label" [for]="name" text="Наименование"> </kendo-label>
                        <kendo-textbox formControlName="name" [clearButton]="true" #name required> </kendo-textbox>
                        <kendo-formerror>Ошибка: Наименование обязательно</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield orientation="horizontal">
                        <kendo-label class="k-label" [for]="description" text="Описание"> </kendo-label>
                        <kendo-textarea formControlName="description"    #description></kendo-textarea>
                    </kendo-formfield>

                    <kendo-formfield orientation="horizontal">
                        <kendo-label class="k-label" [for]="address" text="Адрес"> </kendo-label>
                        <kendo-textbox formControlName="address" [clearButton]="true" #address required></kendo-textbox>
                        <kendo-formerror>Ошибка: Адрес обязателен</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield orientation="horizontal">
                        <kendo-label class="k-label" [for]="floorsNumber" text="Этажность"> </kendo-label>
                        <kendo-numerictextbox #floorsNumber format="##" [min]="0" [max]="100" formControlName="floorsNumber"/>
                        <kendo-formerror>Ошибка: Этажность обязательна"</kendo-formerror>
                    </kendo-formfield>
 
                  

                    <hr />
                    <div class="k-form-buttons">
                        <button kendoButton (click)="cancelChanges()">Отмена</button>
                        <button kendoButton [primary]="true" [disabled]="formGroup.invalid || formGroup.pristine" (click)="saveChanges()">
                            Создать
                        </button>
                      
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
